* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
.habitaciones-heroImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("./images/habitaciones/habitaciones-hero.jpg");
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  height: 80vh;
  background-attachment: fixed;
}
.habitaciones-heroImage h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  height: 80vh;
  color: white;
}
.habitaciones-filtros {
  width: 100%;
  margin: auto;
  padding-top: 50px;
  position: relative;
}
.habitaciones-filtros-nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  list-style: none;
}
.habitaciones-filtros-nav::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 30%;
  width: 45%;
  height: 2px;
  background-color: #000;
}

.nav-option {
  cursor: pointer;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.nav-option:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.active {
  background-color: black;
  color: white;
}

/* Seccion habitaciones */
.habitaciones-section {
  margin: 30px 100px;
}
.habitacion-container {
  display: grid;
  grid-template-columns: 40% 60%;
}
.habitacion-info {
  border: 0.5px solid gray;
  margin-bottom: 50px;
  height: 400px;
  padding: 40px;
}
.habitacion-info span {
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: gray;
  margin-top: 50px;
}
.habitacion-info p {
  margin: 0;
  font-size: 15px;
}
.habitacion-descripcion {
  padding: 10px 0;
}
.habitacion-descripcion p {
  font-size: 13px;
}
.habitacion-frase {
  font-weight: bolder;
  text-transform: uppercase;
}

.habitacion-imagen {
  img {
    width: 90%;
    height: 400px;
  }
}
.habitacion-botones {
  padding-top: 20px;
}
.habitacion-botones button {
  width: 100%;
  border: 1px solid black;
  background-color: transparent;
  padding: 5px;
}
.habitacion-botones button:hover {
  background-color: black;
  color: white;
  transition: ease 0.5s;
}
